/* The default style for the body of pages. */
body {
  background-image: url("../assets/images/Backdrops/Football Pitch Corner View.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Absolutely centers any element to the center of the screen. */
.absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
